body{
    text-align: center;
}

.follower{
    height: 30px;
    width: 30px;
    background-color: red;
    position: fixed;

    transition: 0.3s linear;
}

#custom-context-menu {
    height: 150px;
    width: 90px;
    background-color: red;
    position: fixed;
    display: none;
    transition: 0.3s linear;
}